/.circleci
/build
/docs
/examples
/git-hooks
/samples
/test
/tsconfig.json
/tsconfig.build.json
.babelrc
.codeclimate.yml
.yo-rc.json

/.settings
/.project
/.idea
*.sublime-project
*.sublime-workspace

#*
*$
*.BAK
*.bak
*.log
*.old
*~
.#*
