/.circleci
/.github
/build
/docs
/examples
/samples
/test
.codeclimate.yml
.yo-rc.json
/yarn.lock
/renovate.json

/.settings
/.project
/.idea
/.vscode
*.sublime-project
*.sublime-workspace

#*
*$
*.BAK
*.bak
*.log
*.old
*~
.#*
